body {
    margin: 0;
    direction: rtl;
}

* {
    font-family: 'IranYekan';
    text-decoration: none;
    list-style: none;
}

.header {
    background-color: #34495e;
}

.header * {
    color: #fff
}

.header *:hover {
    color: #2ecc71;
}

.header .menu a {
    text-decoration: none;
    font-size: 14px;
}

.upload .img-box {
    height: 300px;
}

.upload input,
.upload input:focus {
    outline: none;
    box-shadow: none;
    font-size: 12px;
}

.upload img {
    height: 300px;
    object-fit: contain;
}

.upload .img-fake {
    height: 300px;
    background-color: rgb(230, 230, 230);
}

.upload .fileName {
    font-size: 14px;
}

.upload .btn {
    width: 100px;
    font-size: 12px;
}

.upload .progress {
    height: 12px;
}

.upload .progress .progress-bar {
    font-size: 11px;
    padding-top: 2px;
}

.upload .fileName .name {
    direction: ltr;
}

.gallery img {
    height: 300px;
    object-fit: cover;
}

.gallery .imgBox .imgBox-b {
    background-color: rgba(30, 28, 49, 0.9);
    border-top: 2px solid #dcdde1;
    bottom: -40px;
    -webkit-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.gallery .imgBox .imgBox-b .name {
    font-size: 12px;
    color: #fff;
    direction: ltr;
}

.gallery .imgBox .imgBox-b .delete {
    color: #ff7979;
    transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
}

.gallery .imgBox .imgBox-b .delete:hover {
    color: #eb4d4b;
    transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
}

.gallery .imgBox:hover .imgBox-b {
    bottom: 0;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.home {
    background: linear-gradient(320deg, #f27121, #e94057, #8a2387);
}

.home a {
    text-decoration: none;
}

.home .uploderSec {
    border-left: 1px solid #fff;
}

.home .uploderSec,
.home .gallerySec {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    /* height: 200px; */
    /* border: 1px solid #dcdde1; */
    transition: 0.3s;
}

.home .uploderSec:hover,
.home .gallerySec:hover {
    background: rgba(255, 255, 255, 0.35);
    transition: 0.3s;
}